<!DOCTYPE html>
<html>

  <head>

    <title> NightLights </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Drawings of lightful visions born in darkness, considered as gifts from the unconscious."/>
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript">function nightFade(){}</script>



  </head>

  <body>

		<div class="centered">

			<a href="#" class="leftLogo">
				<h1 id="nightTitle">Night</h1>
			</a><br>


			<div class="nightSpeech" style="max-width:94%;">
				<br><br><br><br>

        <ul [@listAnimation]="" class="night-lines-list">
          <li *ngFor="let lines of linelist" class="night-lines" >
            {{ lines }}
          </li>
        </ul>

				<br>
			</div>
		</div>

  </body>

</html>
